header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.8rem;
    display: flex;
    margin-top: 3.8rem;
    .container{
        @include flex (row, center, space-between)
    }
    nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            margin-right: 5.9rem;
            li{
                display: flex;
            
               img{
                margin-left: 1.2rem;
               }
               &:not(:first-child){
                   margin-left: 4.8rem;
               }
               a{
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 125%;
                color: #fff;
                opacity: 0.7;
                transition: color .3s;
                &:hover{
                    color: $brand-yellow;
                }
               }
            }
        }
    }
    @include responsive(800px){
        nav{
            ul{
                display: none;
            }
            
        }
    }
}

