.s-hero {
    width: 100%;
    height: 70rem;
    background: url(../img/img-bg.jpg) no-repeat center center;
    padding-top: 19.1rem;

    .text{
        margin-bottom: 3.9rem;
        .lead{
            font-family: 'Inter', sans-serif;
            display: flex;
            align-items: center;

            span{
                font-weight: 500;
                font-size: 1.3rem;
                background-color: #006D8F;
                color: $white;
                width: 54px;
                height: 26px;
                padding: 0 10px;
                border-radius: 12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1.2rem;
            }
            p{
                margin: 0;
                font-weight: 500;
                font-size: 15px;    
                line-height: 150%;
                color: $white;
                opacity: 0.7;

            }
        }
       
        h1{
            font-family: 'Montserrat' sans-serif;
            font-size: 4.8rem;
            line-height: 130%;
            font-weight: bold;
            margin-top: 3.4rem;
            color: $white;
            max-width: 74rem;
        }
        p{
            max-width: 36.5rem;
            font-family: 'Inter', sans-serif;
            margin-top: 2.4rem;
            margin-bottom: 4rem;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 150%;
            color: $white;
            opacity: 0.7;
        }
    }
}

.s-card-c6{
    margin-top: 9.6rem;
    margin-bottom: 8.1rem;
    .container{
        display: flex;
        justify-content: space-between;
    }
    h2,h3,h4{
        font-family: 'Montserrat' ,sans-serif;
    }
    h2{
        font-weight: bold;
        font-size: 4rem;
        line-height: 130%;
        letter-spacing: -0.03em;
        color: $brand-black;
    }
    h3{
        color: $brand-gray;
        font-style: normal;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 130%;
    }
    .text{
        width: 100%;
        max-width: 68.4rem;
        h4{
            max-width: 22.7rem;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 150%;
            margin-bottom: 12px;
            color: $brand-black;
        }
        p{
            font-family: 'Inter',sans-serif;
            font-size: 1.6rem;
            line-height: 150%;
            color: $brand-gray;
        }
        .row{
            margin-top: 3rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
           .col{
            margin-top: 7rem;
            max-width: 260px;
            .underline{
                margin-top: 1.1rem;
                margin-bottom: 1.6rem;
                width: 15px;
                height: 2px;
                background: $brand-yellow;
            }
           }
        }    
    }
    .area-image{
        img{
            margin-top: -165px;
        }
    }
}

.s-banco-c6{
    background: #FAFAFA;
    padding-bottom: 13.4rem;
    .container{
        padding-top: 10.9rem;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                width: 59.2rem;
                display: flex;
                justify-content: space-between;
                opacity: 0.6;
                border: 1px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 120px;

                font-family: 'Montserrat' ,sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;

                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                color: $brand-gray;
                li{
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12rem;
                    padding: 1.8rem 0;
                    width:  269px;
                    display: inline-block;
                    &:first-child{
                        background-color: $brand-black;
                        color: white;
                        border-radius: 12rem;
                        // padding: 1.8rem 8.5rem;
                    }
                }
            }
        }
        .box-cel{
            // height: 42.4rem;
            background-color: $brand-black;
            margin-top: 8.7rem;
            border-radius: 1.5rem;
            display: flex;
            justify-content: space-between;

            .text-box-cel{
                margin-top: 9.7rem;
                margin-left: 10.3rem;
                h3{
                    width: 100%;
                    max-width: 210px;
                    color: $white;
                    margin-bottom: 1.6rem;
                }
                p{
                    max-width: 341px;
                    line-height: 150%;
                    font-size: 16px;
                    line-height: 150%;
                    color: $white;
                    opacity: 0.7;
                }
                .nfc{
                    margin-top: 5rem;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 1.6rem;
                    } 
                }
             
                .c6-bussines{
                    margin-bottom:53px ;
                }
            }
            .img-box-cel{
                margin-top: 76px; 
                margin-right: -105px;          
            }
            .card-carbon{
                position: absolute;
                left: 45%;
                margin-top: -6%;

            }
            .img-c6-bussines{
                margin-top: 353px;
                margin-right: 72px;
            }

        }
    
    }
}