//Cores
$white: #fff;
$brand-gray: #616161;
$brand-blue-light: #00a5f0;
$brand-green-light: #42ffb7;
$brand-yellow: #ffce2e;
$brand-black: #242424;
$brand-blue-dark: #18183e;

//escalas de cinza
$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: #5f5c6b;
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;
